@inherits UmbracoViewPage

@if(Pages.Any())
{
  <nav class="w-full divide-y lg:hidden" x-show="open" @@click.away="open = false">
    @foreach(IPublishedContent Page in Pages)
    {
      <a class="block text-gray-700 py-4" href="@Page.Url">@Page.Name</a>
    }
  </nav>
}